body {
	font-size: 16px;
	color: red;
	background-color: black;
	font: sans-serif;
	margin-top: 100px;
	width: 100%
}

/** HEADER **/
#header-nav {
	background-color: red;
	border-radius: 0;
	border: 0;
	top: 0px;
	width: 100%;
}

.navbar-default {
	position: absolute;
	width: 100%;
	left: 0px;
	text-align: left;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: black;
	text-align: center;
}

#nav-list a:hover {
	background: white;
}

h1 {
	position: absolute;
	text-align: left;
	float: left;
	color: black;
	top: 0px;
	left: 2px;
	padding: 0;
	margin: 0;
}

section {
	border: 1px red;
	width: 75%;
	height: 500px;
	font-family: sans-serif;
	color: black;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
	justify-content: center;
}

h2 {
	position: absolute;
	margin: 0px;
	margin-right: 0px;
}

p {
	margin-top: 50px;
}

#Menu {
	font-size: 18;
	text-align: center;
}

.row {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#Chicken {
	background-color: white;
	padding: 10px;
	position: relative;
	float: left;
	align-content: center;
}
#Beef {
	background-color: white;
	padding: 10px;
	position: relative;
	float: left;
	align-content: center;
}
#Sushi {
	background-color: white;
	padding: 10px;
	position: relative;
	float: left;
	align-content: center;
}
#chicken2 {
	border: 1px solid black;
	background-color: red;
	position: absolute;
	text-align: center;
	color: white;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	width: 200px;
}

#beef2 {
	border: 1px solid black;
	background-color: red;
	position: absolute;
	text-align: center;
	color: white;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	width: 200px;
}

#sushi2 {
	border: 1px solid black;
	background-color: red;
	position: absolute;
	text-align: center;
	color: white;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	width: 200px;
}